<h1>fadscjl</h1>
<table class="table table-hover">
    <thead>
      <tr>
         

        <th scope="col">firstname:</th>
        <td> {{model.username}}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">last name:</th>
        <td>{{model.lastname}}</td>   
      </tr>
      <tr>
        <th scope="row">EMAIL:</th>  
        <td>{{model.email}}</td>
      </tr>
      <tr>
        <th scope="row">ROLL NO:</th>
        <td colspan="2">{{model.rollnumber}}</td>
      </tr>
      <tr>
        <th scope="row">DATE OF BIRTH:</th>
        <td colspan="2">{{model.dateofBirth}}</td>
      </tr>
      <tr>
        <th scope="row">COLLEGE :</th>
        <td colspan="2">{{model.college}}</td>
      </tr>
      <tr>
        <th scope="row">DEPARTMENT:</th>
        <td colspan="2">{{model.department}}</td>
      </tr>
      <tr>
        <th scope="row">SECTION:</th>
        <td colspan="2">{{model.section}}</td>
      </tr>
    </tbody>
  </table>